<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483985029880-5jm4m1abafbnec3e62ojjua36hu5p9c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483985029880-5jm4m1abafbnec3e62ojjua36hu5p9c6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>483985029880-t2d4lvqt7mgotc422kkqcsne3seh59v8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDu6kRqV3oq0svODHjE7krQGI9jTyfU-pA</string>
	<key>GCM_SENDER_ID</key>
	<string>483985029880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mohammed.HA</string>
	<key>PROJECT_ID</key>
	<string>hacourses-8dd66</string>
	<key>STORAGE_BUCKET</key>
	<string>hacourses-8dd66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483985029880:ios:445b27836273d093</string>
	<key>DATABASE_URL</key>
	<string>https://hacourses-8dd66.firebaseio.com</string>
</dict>
</plist>